################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/LoggerService
/.vs/WareFlow/FileContentIndex
/packages
/WareFlowApp
